html {
    font-size: 62.5%;
}

body {
    background: royalblue;
    font-family: 'Rubik', sans-serif;
    color: white;
}

.borderline {
    transform: translate(-50%, -50%);
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100rem;
    height: 50rem;
    border: .5rem solid black;
    background: green;
    border-radius: 1rem;
}

.player1,
.player2 {
    width: 50%;
    height: 100%;
    position: absolute;
    top: 0;
}

.heading {
    font-size: 4rem;
}

.text,
.words-used,
.score {
    text-align: center;
}

.player1 {
    left: 0;
}

.player2 {
    right: 0;
}

.arrow-1:hover,
.arrow-2:hover {
    cursor: pointer;
}

.input-field {
    transform: translate(-50%, -50%);
    left: 50%;
    bottom: 2%;
    position: absolute;
    width: 25rem;
    height: 5rem;
}

.active-player {
    background: pink;
    color: red;
}

.words-used {
    margin-top: 10%;
}

.heading-2 {
    font-size: 2rem;
}

.score {
    margin-top: 20%;
    font-size: 3rem;
}

.winner {
    background: black;
    color: yellow;
}

.new-game {
    transform: translate(-50%, -50%);
    left: 50%;
    bottom: 20%;
    position: absolute;
    font-family: inherit;
    font-size: 3rem;
}

.hidden {
    display: none !important;
}

input {
    font-size: 2rem;
    font-family: inherit;
    background: lightgray;
    color: blue;
}

.word-list1,
.word-list2 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0 10%;
}

.winner-1,
.winner-2 {
    text-align: center;
}

.new-game {
    font-size: 2.5rem;
}

.hide-1,
.hide-2,
.show-1,
.show-2 {
    font-size: 1.5rem;
}



